<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=.;Initial Catalog=MyDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<customErrors mode="Off"/>
		<authentication mode="Forms" />
	</system.web>
</configuration>
